.todo {
    font-size: 19px;
    color: #233646;
    margin-bottom: 9px;
    line-height: 1em; /* making sure the lines fit w background img */
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 350px;
    width: 100%;
    margin-left: 12%;
}

.todo button {
    font-size: 15px;
    background-color:#ececec ;
  }

.todo button:hover {
    background-color: #5a8e74;
    color: white;
  }
  
.complete {
    text-decoration: line-through;
    color: grey;
    opacity: 0.6;
    transition: opacity 0.5s ease;
}