.app {
  background: #c7c2c2;
  padding: 30px;
  height: 90vh;
  position: absolute;
  width: 500px;
  left: 50%;
  top: 50%;
  box-shadow: 0px 0px 5px 0px #a1a5ac;
  background-image: repeating-linear-gradient(
        white 0px,
        white 24px,
        steelblue 25px
    );
  background-size: 100% 2em; /* adjusting size of the lines */
  transform: translate(-50%, -50%);
}

body {
  background-color: #535c85;
}

.todo-list {
  padding: 9px;
  max-width: 400px;
  margin-left: 11%;
  font-style: italic;
  color: #312e42;
}

/* Style the red line for the notebook */
.todo-list::before {
  content: "";
  position: absolute;
  height: 90vh;
  padding: auto;
  left: 15%;
  top: 5%;
  width: 1px;
  background-color: rgb(254, 2, 2);
}

.todo-container {
  margin-left: 12%;
}

/* remember to assign the color next time!! */